*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

svg,
video {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
}
